<!-- adminCrud.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin CRUD</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>User CRUD</h1>

    <button onclick="mostrarModalInsertar()">New User</button>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <button onclick="mostrarModalActualizar('<%= user._id %>')">Update</button>
                        <button onclick="mostrarModalEliminar('<%= user._id %>')">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <!-- Modales aquí... -->

</body>
</html>
